MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=trainee_management_db

# db connection string
ConnectionStrings__DefaultConnection=

# default admin user configs
AdminUser__Username=
AdminUser__Password=
AdminUser__Email=

# redis configs
REDIS__PASS=
ConnectionStrings__Redis=
Redis__InstanceName=
Redis__DefaultItlSeconds=

# RabbitMQ configs
RabbitMQ__UserName=
RabbitMQ__Password=

Jwt__Key=